form {}
fieldset {}
legend {white-space: normal}
label {font: 160%/1.2 $font-family}
input, textarea, select, button {color: $font-color; font: 160%/1.2 $font-family; vertical-align: baseline}
textarea {vertical-align: top}

input.button, a.button, span.button, button, .submit input, input[type=submit] {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 8px 20px;
  color: #fff;
  font-size: 160%;
  line-height: 1;
  text-decoration: none;
  text-shadow: 0 -1px 0 #666;
  border: 0;
  background: #999;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  cursor: pointer;
}
input.button:hover, a.button:hover, button:hover, .submit input:hover, input[type=submit]:hover {}
input.button:active, a.button:active, button:active, .submit input:active, input[type=submit]:active {}
input.button:disabled, button:disabled, .submit input:disabled, input[type=submit]:disabled {}

html input[type="button"], input[type="submit"], button {-webkit-appearance: button; cursor: pointer}
input[disabled], button[disabled] {cursor: default}

input::-moz-focus-inner, button::-moz-focus-inner {padding: 0; border: 0}
input[type=search] {-webkit-appearance: none; -webkit-box-sizing: content-box}
input[type=search]::-webkit-search-cancel-button {-webkit-appearance: none}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {display: none}