$background-color: #ffe646;

$link-color: #000;
$link-hover-color: #22acd1;

$font-color: #333;
$heading-font-color: #333;
$heading-font-family: 'Game', Arial, Helvetica, sans-serif;
$font-family: 'Game', Arial, Helvetica, sans-serif;