$background-color: #F3DB43;

$link-color: #000;
$link-hover-color: #000;

$font-color: #000;
$heading-font-color: #000;
$heading-font-family: Arial, Helvetica, sans-serif;
$font-family: Arial, Helvetica, sans-serif;