@import "partials/fonts";
@import "partials/vars";
@import "partials/normalize";

@keyframes fade-in { 0% { transform: scale(0) } 100% { transform: scale(1) } }

html, body {
  height: 100%;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 962px;
  min-height: 602px;
  overflow: hidden;

  #game { display: none }
}

#start, #keys, #game, #gameover {
  display: none;
}
/*
#start {
  display: none !important;
}
#game {
  display: none !important;
}
#gameover {
  display: block !important;
}
*/

.frame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 962px;
  height: 602px;
  min-width: 962px;
  min-height: 602px;
  margin: -301px 0 0 -481px;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}

#game .frame {
  background: $background-color;
  /*
  &:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    height: 1px;
    border-top: 1px solid #C7B33B;
    content: "";
  }
  */
}

.Player {
  margin-top: 20px;
}
.Stone {
  margin-top: 20px;
  margin-left: -12px;
}
.PlayField {
  background-position: 0 20px !important;
}
.NewYearsSprite {
  top: 23px;
}
.Object7Sprite, .Object8Sprite, .Object9Sprite, .Object10Sprite, .Object11Sprite, .Object12Sprite, .Object13Sprite, .Object14Sprite, .Object15Sprite, .Object16Sprite, .Object17Sprite, .Object18Sprite, .Object20Sprite {
  top: 3px;
}
.Object19Sprite {
  top: 14px;
}
.Object21Sprite {
  top: 8px;
}
.Town1Sprite {
  top: 7px;
}

button {
  display: inline-block;
  vertical-align: top;
  padding: 0.25em 20px;
  color: #F3DB43;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: #000;
  cursor: pointer;
}

.play {}

#pause {
  display: block;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 4px;
  width: 30px;
  height: 30px;
  margin: 0 0 0 -30px;
  background: image-url('pause.png') no-repeat -34px 0;
  cursor: pointer;
  &.active {
    background-position: 0 0;
  }
}

#lives {
  display: block;
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 10px;
  white-space: nowrap;
  .life {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 20px;
    margin: 0 4px 0 0;
    background: image-url('life-small.png') no-repeat;
    animation: fade-in 0.2s linear;
  }
}

.sun {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 244px;
  height: 200px;
  background: image-url('sun.png') no-repeat 0 100%;
}

.noise {
  display: none;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: image-url('noise.png') repeat;
}

#score {
  display: block;
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 12px;
  color: #000;
  font-size: 20px;
  font-family: $score-font-family;
  span {
    display: inline-block;
    width: 12px;
    text-align: center;
  }
}

.buttons {
  margin: 60px 0 30px;
  text-align: center;
  > div {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 0 12px;
  }
}

.footer {
  margin: 30px 0 0;
  padding: 0 0 30px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  a {
    text-decoration: none;
  }
}

#keys {
  i {
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 50%;
    margin: 0 0 30px;
    font-size: 36px;
    font-style: normal;
    text-align: center;
  }
  .arrow {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 10px 0 0;
    width: 51px;
    height: 55px;
    background: image-url('keys.png') no-repeat;
    &.up {
      margin-left: -71px;
      background-position: 0 0;
      &.pressed {
        background-position: 0 -73px;
      }
    }
    &.down {
      margin-left: 20px;
      background-position: -74px 0;
      &.pressed {
        background-position: -74px -73px;
      }
    }
  }
}

.table {
  width: 500px;
  margin: 0 auto;
}
div.current {
  position: relative;
  padding: 6px 70px 4px 52px;
  font-size: 160%;
  line-height: 1.2;
  text-align: left;
  border: 2px solid #3c3c3c;
  span {
    display: block;
    &.position {
      position: absolute;
      left: 10px;
      top: 6px;
      width: 22px;
      text-align: right;
    }
    &.score {
      position: absolute;
      right: 10px;
      top: 6px;
      text-align: right;
    }
  }
}

#start {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: image-url('dirt-bg.png') no-repeat 50% 50%;
  .frame {
    border: 0;
    overflow: visible;
  }
  h1 {
    position: absolute;
    left: 394px;
    right: 30px;
    top: 86px;
    font-size: 96px;
    text-align: center;
  }
  img {
    display: block;
    position: absolute;
    left: 30px;
    top: 90px;
  }
  button {
    display: block;
    position: absolute;
    left: 640px;
    width: 182px;
    height: 63px;
    font-size: 36px;
    line-height: 50px;
    background: image-url('button.png') no-repeat 0 0;
    &:active {
      background-position: -184px 0;
      line-height: 54px;
    }
    &.play {
      top: 286px;
    }
    &.top {
      top: 364px;
    }
    &.back {
      left: 20px;
      top: 20px;
      width: 196px;
      background: image-url('back.png') no-repeat 0 0;
      &:active {
        background-position: -198px 0;
      }
    }
  }
  .buttons {
    position: absolute;
    left: 500px;
    top: 308px;
    width: 100px;
    margin: 0;
    text-align: left;
    > div {
      margin: 0;
      height: 38px;
    }
  }
  .footer {
    position: absolute;
    left: 394px;
    right: 30px;
    bottom: 40px;
    margin: 0;
  }
  .start-screen {
    h2 {
      position: absolute;
      left: 394px;
      right: 30px;
      top: 94px;
      margin-top: 4em;
      font-size: 24px;
      text-align: center;
    }
  }
  .top-screen {
    display: none;
    padding-top: 112px;
    text-align: center;
    h2 {
      margin: 0 0 8px;
      font-size: 36px;
    }
  }
}

#gameover {
  text-align: center;
  .frame {
    padding: 20px 0 0;
  }
  h2 {
    margin: 0 0 8px;
    font-size: 36px;
  }
  .result, .place {
    display: inline-block;
    margin: 0 18px;
    font-size: 24px;
    line-height: 1.2;
  }
  form {
    margin: 30px 0 0;
  }
  label {
    display: inline-block;
    vertical-align: middle;
    height: 44px;
    padding: 14px 0;
    line-height: 18px;
  }
  input {
    display: inline-block;
    vertical-align: middle;
    width: 248px;
    height: 44px;
    margin: 0 12px;
    padding: 14px 10px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    background: transparent image-url('input.png') no-repeat 0 0;
    border: 0;
  }
  .save {
    display: inline-block;
    vertical-align: middle;
    width: 152px;
    height: 44px;
    padding: 14px 0;
    font-size: 16px;
    line-height: 18px;
    background: image-url('button-submit.png') no-repeat 0 0;
    &:active {
      background-position: -154px 0;
      line-height: 22px;
    }
  }
  .play {
    width: 302px;
    height: 63px;
    margin: 22px 0 0;
    font-size: 36px;
    line-height: 50px;
    background: image-url('button-big.png') no-repeat 0 0;
    &:active {
      background-position: -304px 0;
      line-height: 54px;
    }
  }
  .share {
    margin: 24px 0 0;
    font-size: 16px;
    span {
      display: block;
      margin: 0 auto 12px;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      width: 44px;
      height: 46px;
      background: image-url('share.png') no-repeat 0 0;
      &.vkontakte {
        background-position: 2px 0;
        &:active {
          background-position: -46px 0;
        }
      }
      &.facebook {
        background-position: 1px -47px;
        &:active {
          background-position: -46px -47px;
        }
      }
      &.twitter {
        background-position: 2px -95px;
        &:active {
          background-position: -46px -95px;
        }
      }
    }
  }
  .footer {
    margin: 30px 0 0;
    padding: 0;
  }
  .prelim-score {
    padding-top: 60px;
    h2 {
      margin-bottom: 24px;
    }
    .play {
      margin-top: 36px;
    }
    .share {
      margin-top: 40px;
    }
    .footer {
      margin-top: 36px;
    }
  }
  .top {
    display: none;
  }
}

#controls {
  display: none;
  button {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 0;
    min-width: 0;
    width: 123px;
    height: 127px;
    padding: 0;
    background: transparent image-url('controls.png?v2') no-repeat 0 0;
  }
  .up {
    right: 0;
    background-position: -250px 20px;
    &:active {
      background-position: -375px 20px;
    }
  }
  .down {
    left: 0;
    background-position: 0 20px;
    &:active {
      background-position: -125px 20px;
    }
  }
}
.mobile #controls {
  display: block;
}

.message {
  padding: 20px 0 0 20px;
  font-size: 20px;
}

.pumping-up {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 962px;
  min-height: 652px;
  background: image-url('dirt-bg.png') no-repeat 50% 50%;
  .frame {
    height: 650px;
    min-height: 652px;
    margin-top: -326px;
    border: 0;
  }
  .intro {
    margin: 30px 0;
    text-align: center;
    p {
      margin: 0 0 20px;
      font-size: 20px;
      line-height: 1.2;
      span {
        display: block;
      }
      &.nb {
        font-size: 36px;
      }
    }
    s {
      text-decoration: none;
      //background: image-url('line.png') no-repeat 0 50%;
    }
  }
}

@import "partials/forms";

@import "partials/mq";

.desktop .mobile, .mobile .desktop {
  display: none !important;
}
