@import "partials/fonts";
@import "partials/vars";
@import "partials/normalize";

@keyframes fade-in { 0% { transform: scale(0) } 100% { transform: scale(1) } }

html, body {
  height: 100%;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 962px;
  min-height: 602px;
  overflow: hidden;

  #game { display: none }
}

#start, #keys, #game, #gameover {
  display: none;
}

.frame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 962px;
  height: 602px;
  min-width: 962px;
  min-height: 602px;
  margin: -301px 0 0 -481px;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}

#game .frame {
  background: $background-color;
  /*
  &:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    height: 1px;
    border-top: 1px solid #C7B33B;
    content: "";
  }
  */
}

.Player {
  margin-top: 20px;
}
.Stone {
  margin-top: 20px;
  margin-left: -12px;
}
.PlayField {
  background-position: 0 20px !important;
}
.NewYearsSprite {
  top: 25px;
}
.Object7Sprite, .Object8Sprite, .Object9Sprite, .Object10Sprite, .Object11Sprite, .Object12Sprite, .Object13Sprite, .Object14Sprite, .Object15Sprite, .Object16Sprite, .Object17Sprite, .Object18Sprite, .Object20Sprite {
  top: 5px;
}
.Object19Sprite {
  top: 16px;
}
.Object21Sprite {
  top: 10px;
}
.Town1Sprite {
  top: 9px;
}

button {
  display: inline-block;
  vertical-align: top;
  padding: 0.25em 20px;
  color: #F3DB43;
  font-size: 40px;
  text-align: center;
  border: 0;
  background-color: #000;
  cursor: pointer;
}

.play {}

#pause {
  display: block;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 13px;
  width: 30px;
  margin: 0 0 0 -15px;
  color: #000;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "Стой!";
    letter-spacing: 1px;
  }
  &.active:after {
    content: "Поехали!";
  }
}

#lives {
  display: block;
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 10px;
  white-space: nowrap;
  .life {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 20px;
    margin: 0 4px 0 0;
    background: image-url('life-small.png') no-repeat;
    animation: fade-in 0.2s linear;
  }
}

.sun {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 244px;
  height: 200px;
  background: image-url('sun.png') no-repeat 0 100%;
}

.noise {
  display: none;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: image-url('noise.png') repeat;
}

#score {
  display: block;
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 12px;
  color: #000;
  font-size: 20px;
  font-family: $score-font-family;
  span {
    display: inline-block;
    width: 12px;
    text-align: center;
  }
}

.buttons {
  margin: 60px 0 30px;
  text-align: center;
  > div {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 0 12px;
  }
}

.footer {
  margin: 30px 0 0;
  padding: 0 0 30px;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  a {
    text-decoration: none;
  }
}

#keys {
  i {
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 50%;
    margin: 0 0 30px;
    font-size: 48px;
    font-style: normal;
    text-align: center;
  }
  span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 10px 0 0;
    width: 51px;
    height: 55px;
    background: image-url('keys.png') no-repeat;
    &.up {
      margin-left: -71px;
      background-position: 0 0;
      &.pressed {
        background-position: 0 -73px;
      }
    }
    &.down {
      margin-left: 20px;
      background-position: -74px 0;
      &.pressed {
        background-position: -74px -73px;
      }
    }
  }
}

#start {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: image-url('dirt-bg.png') no-repeat 50% 50%;
  .frame {
    border: 0;
  }
  h1 {
    position: absolute;
    left: 394px;
    right: 30px;
    top: 94px;
    font-size: 120px;
    text-align: center;
    //text-transform: uppercase;
  }
  h2 {
    position: absolute;
    left: 394px;
    right: 30px;
    top: 94px;
    margin-top: 4em;
    font-size: 32px;
    text-align: center;
    text-transform: lowercase;
  }
  img {
    display: block;
    position: absolute;
    left: 30px;
    top: 90px;
  }
  button {
    display: block;
    position: absolute;
    left: 640px;
    width: 182px;
    height: 63px;
    font-size: 32px;
    line-height: 50px;
    background: image-url('button.png') no-repeat 0 0;
    span {
      position: relative;
      top: -0.25em;
    }
    &:active {
      background-position: -184px 0;
      line-height: 54px;
    }
    &.play {
      top: 312px;
    }
    &.top {
      top: 382px;
    }
  }
  .buttons {
    position: absolute;
    left: 500px;
    top: 332px;
    width: 100px;
    margin: 0;
    text-align: left;
    > div {
      margin: 0;
      height: 36px;
    }
  }
  .footer {
    position: absolute;
    left: 394px;
    right: 30px;
    bottom: 40px;
    margin: 0;
  }
}

#gameover {
  .result {}
  form {
    .field {}
    .submit {
      button {
        min-width: 0;
        font-size: 20px;
      }
    }
  }
  .play {}
}

#controls {
  display: none;
  button {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 20px;
    min-width: 0;
    width: 83px;
    height: 87px;
    padding: 0;
    background: transparent image-url('controls.png') no-repeat 0 0;
  }
  .up {
    right: 20px;
    background-position: -170px 0;
    &:active {
      background-position: -255px 0;
    }
  }
  .down {
    left: 20px;
    background-position: 0 0;
    &:active {
      background-position: -85px 0;
    }
  }
}

.message {
  padding: 20px 0 0 20px;
  font-size: 20px;
}

.pumping-up {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 962px;
  min-height: 700px;
  background: image-url('dirt-bg.png') no-repeat 50% 50%;
  .frame {
    height: 700px;
    min-height: 700px;
    margin-top: -350px;
    border: 0;
  }
  .intro {
    margin: 30px 0;
    text-align: center;
    p {
      margin: 0 0 20px;
      font-size: 24px;
      line-height: 1.2;
      span {
        display: block;
      }
      &.nb {
        font-size: 48px;
      }
    }
    s {
      text-decoration: none;
      //background: image-url('line.png') no-repeat 0 50%;
    }
  }
}

@import "partials/forms";

@import "partials/mq";
