- content_for :javascript do
  = javascript_include_tag :game
  %script{:src => "//vk.com/js/api/openapi.js?105"}
  :javascript
    // Twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    // Facebook
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=457100904321833";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // VK
    VK.init({apiId: 4064171, onlyWidgets: true});
    VK.Widgets.Like("vk_like", {type: "mini", height: 20});

#container
  #start
    .frame
      .start-screen
        %h1 Велоконь
        %h2 Игра о жизни, смерти и коне
        = image_tag "velogame.png", :alt => ""
        %button.play Играть
        %button.top TOP 10
        .buttons
          .facebook
            #fb-root
            .fb-like{:data => {:href => "http://velogame.pro", :layout => "button_count", :action => "like", :"show-faces" => "false", :share => "false"}}
          .vkontakte
            #vk_like
          .twitter
            %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:url => "http://velogame.pro", :text => "Я гоняю на коне! #velogame", :lang => "en"}}
        
        .footer
          &copy;
          %a{:href => "http://molinos.ru", :target => "_blank"} Molinos.Ru
      .top-screen
        %h2 TOP 10
        .table
          = render partial: 'shared/top'
        %button.back Назад
  #keys
    .frame
      %i
        Используй
        %span.desktop клавиши
        %span.mobile кнопки
      %span.arrow.up
      %span.arrow.down
  #game
    .frame
      #main
      #pause{:title => "Пауза (пробел)"}
      #lives
        .life
        .life
        .life
      #score 0
      #controls
        %button.up
        %button.down
      .sun
      .noise
  #gameover
    .frame
      .prelim-score
        %h2 Приехали…
        .result
          Результат:
          %span
        .place
          Место:
          %span
        %form.score
          %label Представьтесь:
          %input{:maxlength => "20"}
          %button.save Прославиться
        %button.play Еще разок
        .share
          %span Поделиться с друзьями
          -#%a.facebook{:href => "http://www.facebook.com/sharer.php?u=http://velogame.pro&t=Title", :target =>"_blank"}
          %a.facebook{:href => "http://www.facebook.com/sharer.php?s=100&p[title]=Я%20гоняю%20на%20коне!&p[url]=http://velogame.pro&p[summary]=Велоконь:%20игра%20о%20жизни,%20смерти%20и%20коне%20%23velogame&p[images][0]=http://velogame.pro/i/share.png", :target =>"_blank"}
          -#%a.vkontakte{:href => "http://vkontakte.ru/share.php?url=http://velogame.pro", :target =>"_blank"}
          %a.vkontakte{:href => "http://vkontakte.ru/share.php?title=Я%20гоняю%20на%20коне!&url=http://velogame.pro&description=Велоконь:%20игра%20о%20жизни,%20смерти%20и%20коне%20%23velogame&image=http://velogame.pro/i/share.png", :target =>"_blank"}
          %a.twitter{:href => "http://twitter.com/share?text=Я%20гоняю%20на%20коне!%20%23velogame&url=http://velogame.pro", :target =>"_blank"}
        .footer
          &copy;
          %a{:href => "http://molinos.ru", :target => "_blank"} Molinos.Ru
      .top
        %h2 TOP 10
        .table
        %button.play Еще разок
        .share
          %span Поделиться с друзьями
          -#%a.facebook{:href => "http://www.facebook.com/sharer.php?u=http://velogame.pro&t=Title", :target =>"_blank"}
          %a.facebook{:href => "http://www.facebook.com/sharer.php?s=100&p[title]=Я%20гоняю%20на%20коне!&p[url]=http://velogame.pro&p[summary]=Велоконь:%20игра%20о%20жизни,%20смерти%20и%20коне%20%23velogame&p[images][0]=http://velogame.pro/i/share.png", :target =>"_blank"}
          -#%a.vkontakte{:href => "http://vkontakte.ru/share.php?url=http://velogame.pro", :target =>"_blank"}
          %a.vkontakte{:href => "http://vkontakte.ru/share.php?title=Я%20гоняю%20на%20коне!&url=http://velogame.pro&description=Велоконь:%20игра%20о%20жизни,%20смерти%20и%20коне%20%23velogame&image=http://velogame.pro/i/share.png", :target =>"_blank"}
          %a.twitter{:href => "http://twitter.com/share?text=Я%20гоняю%20на%20коне!%20%23velogame&url=http://velogame.pro", :target =>"_blank"}
-#
  %audio#hit{:preload => "auto"}
    %source{:src => "/sounds/fall.ogg"}
    %source{:src => "/sounds/fall.mp3"}
#activity
