- content_for :javascript do
  = javascript_include_tag :game
  %script{:src => "//vk.com/js/api/openapi.js?105"}
  :javascript
    // Twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    // Facebook
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=457100904321833";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // VK
    VK.init({apiId: 4064171, onlyWidgets: true});
    VK.Widgets.Like("vk_like", {type: "mini", height: 20});

#container
  #start
    .frame
      %h1 Велоконь
      %h2 Игра о жизни, смерти и коне
      = image_tag "velogame.png", :alt => ""
      %button.play Играть
      -#%button.top TOP 10
      .buttons
        .facebook
          #fb-root
          .fb-like{:data => {:href => "http://velogame.molinos.ru", :layout => "button_count", :action => "like", :"show-faces" => "false", :share => "false"}}
        .vkontakte
          #vk_like
        .twitter
          %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:url => "http://velogame.molinos.ru", :text => "Велоконь", :lang => "en"}}
      .footer
        &copy;
        %a{:href => "http://molinos.ru"} Molinos.Ru
  #keys
    .frame
      %i
        Используй
        %span.desktop клавиши
        %span.mobile кнопки
      %span.arrow.up
      %span.arrow.down
  #game
    .frame
      #main
      -#
        #pause
      #lives
        .life
        .life
        .life
      #score 0
      #controls
        %button.up
        %button.down
      .sun
      .noise
  #gameover
    .frame
      %h2 Приехали…
      .prelim-score
        .result
          Результат:
          %span 123
        -#
          .place
            Место
            %span
        %form.score
          %label Представьтесь
          %input{:maxlength => "20"}
          %button.save Прославиться
      .top{:style => "display: block"}
        %h3 TOP 10
        .table
          %table
            %tr
              %td 1.
              %td Костя
              %td 200
            %tr.current
              %td 2.
              %td Костя
              %td 187
            %tr
              %td 3.
              %td Костя
              %td 183
          .current
            16.
            Костя
            114
      %button.play Еще разок
      .share
        %span Поделиться с друзьями
        -#%a.vkontakte{:href => "http://vkontakte.ru/share.php?url=http://velogame.molinos.ru", :target =>"_blank"}
        %a.vkontakte{:href => "http://vkontakte.ru/share.php?title=Я%20гоняю%20на%20коне!&url=http://velogame.molinos.ru&description=Велоконь:%20игра%20о%20жизни,%20смерти%20и%20коне&image=http://velogame.molinos.ru/i/share.png", :target =>"_blank"} VK
        -#%a.facebook{:href => "http://www.facebook.com/sharer.php?u=http://velogame.molinos.ru&t=Title", :target =>"_blank"}
        %a.facebook{:href => "http://www.facebook.com/sharer.php?s=100&p[title]=Я%20гоняю%20на%20коне!&p[url]=http://velogame.molinos.ru&p[summary]=Велоконь:%20игра%20о%20жизни,%20смерти%20и%20коне&p[images][0]=http://velogame.molinos.ru/i/share.png", :target =>"_blank"} FB
        %a.twitter{:href => "http://twitter.com/share?text=Я%20гоняю%20на%20коне!&url=http://velogame.molinos.ru", :target =>"_blank"}
      .footer
        &copy;
        %a{:href => "http://molinos.ru"} Molinos.Ru
-#
  %audio#hit{:preload => "auto"}
    %source{:src => "/sounds/fall.ogg"}
    %source{:src => "/sounds/fall.mp3"}
#activity
