- content_for :javascript do
  = javascript_include_tag :game

#container
  #start
    .frame
      %h1 Велоконь
      %button.play Играть
      %button.top TOP 15
  #game
    .frame
      #main
      -#
        #pause
      #lives
        .life
        .life
        .life
      #score 0
      #controls
        %button.up
        %button.down
      .sun
      .noise
  #gameover
    .frame
      %h2 Приехали…
      .prelim-score
        .result
          Результат:
          %span
        .place
          Место
          %span
        -# Минимальный функционал — простая форма для ввода имени.
        %form.score
          .field
            %label Представтесь
            %input
          .submit
            %button.save Прославиться
        -# Желательно — авторизация через фейсбуки.
        -# Тогда форма для ввода имени не нужна? Можно обсудить.
        %ul
          %li
            %a.vk{:href => "#"} ВКонтакте
          %li
            %a.fb{:href => "#"} Фейсбук
      -# По макету после авторизации здесь выводится таблица. Можно обсудить.
      .top
      %button.play Ещё разок
-#
  %audio#hit{:preload => "auto"}
    %source{:src => "/sounds/fall.ogg"}
    %source{:src => "/sounds/fall.mp3"}
#activity
