#container
  #start
    .frame
      .play Играть
  #game
    .frame
      #main
      -#
        #pause
      #lives
        .life
        .life
        .life
      #score 0
      .noise
  -#
    #gameover
      .frame
        .result
          Результат:
          %span 2560
        .play Ещё разок
#activity
