.pumping-up
  .frame
    .intro
      %p
        %span Немного терпения,
        идёт подготовка к запуску...
      %p.nb
        %span 25 декабря здесь будет игра
        о жизни,
        %s смерти
        и коне
        -#
          %a{:href => "http://vkontakte.ru/share.php?url=http://velogame.molinos.ru", :target =>"_blank"} VK
          %a{:href => "http://vkontakte.ru/share.php?title=Велоконь&url=http://velogame.molinos.ru&description=Наконял&image=http://velogame.molinos.ru/i/share.png", :target =>"_blank"} VK
          %a{:href => "http://www.facebook.com/sharer.php?u=http://velogame.molinos.ru", :target =>"_blank"} FB
          %a{:href => "http://www.facebook.com/sharer.php?s=100&p[title]=Велоконь&p[url]=http://velogame.molinos.ru&p[summary]=Наконял&p[images][0]=http://velogame.molinos.ru/i/share.png", :target =>"_blank"} FB
          %a{:href => "http://twitter.com/share?text=Наконял&url=http://velogame.molinos.ru", :target =>"_blank"} TW
      = image_tag "pumping-up.png", :alt => ""
    .buttons
      .facebook
        #fb-root
        .fb-like{:data => {:href => "http://velogame.molinos.ru", :layout => "button_count", :action => "like", :"show-faces" => "false", :share => "false"}}
      .vkontakte
        #vk_like
      .twitter
        %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:url => "http://velogame.molinos.ru", :text => "Велоконь", :lang => "en"}}
    .footer
      &copy;
      %a{:href => "http://molinos.ru"} Molinos.Ru

- content_for :javascript do
  %script{:src => "//vk.com/js/api/openapi.js?105"}
  :javascript
    // Twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    // Facebook
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=457100904321833";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // VK
    VK.init({apiId: 4064171, onlyWidgets: true});
    VK.Widgets.Like("vk_like", {type: "mini", height: 20});
