#container
  #frame
    #main
    -#
      #start Старт
    #pause
    -#
      #pause.active
    #lives.two
    #score 2560
    -#
      #horse
    -#
      #gameover
        #result
          Результат:
          %span 2560
        #start Ещё разок
#activity







